@{
    ViewData["Title"] = "Info";
}
<h2>@ViewData["Title"]</h2>

<p>Objevuj a vyzkoušej mou aplikaci na tenisové turanje.</p>
<li><b>HRÁČ</b> - Přihlaš se emailem susan@mail.cz a heslem: Susan1*</li>
    <p>Můžeš si prohlídnout/editovat turnaje a kurty, na kterých se hrají tyto turnaje.</p>
<li><b>ADMIN</b> - Přihlaš se mailem admin@mail.cz a heslem: Admin1**</li>
    <p>Můžeš si prohlídnout/editovat turnaje, kurty, uživatelé a role.</p>

<li>Přihlásit se můžeš <a asp-action="Index">ZDE</a></li>
